.spm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spm_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spm_texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 900px;
}

.spm_texts h2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.3;
}

.spm_texts h4{
    font-size: 16px;
    font-family: sans-serif;
    color: #aaaaaa;
    font-style: italic;
    line-height: 1.5;
}

.spm_texts h5{
    color: #aaaaaa;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}

.spm_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spm_image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .spm_container{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .spm_image{
        
    }

    .spm_image img{
        width: 40%;
        height: 40%;
    }
}



