.sp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_container{
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    width: 1200px;
    margin: 0 auto;
}

.sp_texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;
}

.sp_texts h3{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    margin: 0 0 1rem 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.sp_texts h1{
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
}

.sp_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_controllerbox{
    width: 35%;
}

.sp_controller{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid #cda45e;
}

.sp_content li{
    list-style-type: none;
}

.sp_content p{
    padding: 12px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.sp_content p:active{
    background-color: #cda45e;
    transition: 0.2s all ease;
}

.sp_article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slidee{
    opacity: 0;
    transition: 1.5s all ease;
}

.slidee.active{
    opacity: 1;
}